<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<title>Registration</title>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

<nav class="navbar navbar-dark bg-primary">
	<a class="navbar-brand">
		<svg class="d-inline-block align-top" width="30" height="30" viewBox="0 0 30 30" fill="none"
			 xmlns="http://www.w3.org/2000/svg">
			<g id="account_balance_24px">
				<path id="icon/action/account_balance_24px" fill-rule="evenodd" clip-rule="evenodd"
					  d="M3.125 8.75L15 2.5L26.875 8.75V11.25H3.125V8.75ZM15 5.325L21.5125 8.75H8.48751L15 5.325ZM6.25 13.75H8.75V22.5H6.25V13.75ZM13.75 22.5V13.75H16.25V22.5H13.75ZM26.875 27.5V25H3.125V27.5H26.875ZM21.25 13.75H23.75V22.5H21.25V13.75Z"
					  fill="black" fill-opacity="0.54"/>
			</g>
		</svg>
		Maltsev
	</a>
	<form class="form-inline my-2 my-lg-0">
		<a class="text-light" href="/login" th:href="@{/login}">Log in</a>
	</form>
</nav>
	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<h1>Registration</h1>
				<form th:action="@{/registration}" th:object="${user}" method="post">

					<p class="text-danger" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
						<label for="firstName" class="control-label">First name</label> <input
							id="firstName" class="form-control" th:field="*{firstName}" />
						<p class="text-danger"
							th:each="error: ${#fields.errors('firstName')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
						<label for="lastName" class="control-label">Last name</label> <input
							id="lastName" class="form-control" th:field="*{lastName}" />
						<p class="text-danger"
							th:each="error : ${#fields.errors('lastName')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
						<label for="email" class="control-label">E-mail</label> <input
							id="email" class="form-control" th:field="*{email}" />
						<p class="text-danger"
							th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
							error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
						<label for="confirmEmail" class="control-label">Confirm
							e-mail</label> <input id="confirmEmail" class="form-control"
							th:field="*{confirmEmail}" />
						<p class="text-danger"
							th:each="error : ${#fields.errors('confirmEmail')}"
							th:text="${error}">Validation error</p>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
						<label for="password" class="control-label">Password</label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" />
						<p class="text-danger"
							th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
						<label for="confirmPassword" class="control-label">Confirm
							password</label> <input id="confirmPassword" class="form-control"
							type="password" th:field="*{confirmPassword}" />
						<p class="text-danger"
							th:each="error : ${#fields.errors('confirmPassword')}"
							th:text="${error}">Validation error</p>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
						<input id="terms" type="checkbox" th:field="*{terms}" />   <label
							class="control-label" for="terms"> I agree with the <a
							href="#">terms and conditions</a> for Registration.
						</label>
						<p class="text-danger"
							th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
							error</p>
					</div>

					<div class="g-recaptcha"
						 data-sitekey="6LcogLUZAAAAAFs8GmWELW3Z1rsTq24qF1TWiZEx"
						 data-callback="onSubmit"
						 data-size="invisible">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>